Source: eos-photos
Section: non-free/misc
Priority: extra
Maintainer: EndlessMobile <endlessmobile@gmail.com>
Build-Depends: debhelper (>= 9),
               devscripts,
               eos-shell-content-dev,
               gettext,
               gir1.2-clutter-1.0,
               gir1.2-glib-2.0,
               gir1.2-gtk-3.0 (>= 3.20),
               libglib2.0-dev,
               python,
               python-gi,
               python-imaging-eos-photos,
               python-scipy-eos-photos,
               python-skimage-eos-photos (>=0.6.1)
Standards-Version: 3.9.2
Homepage: http://www.endlessm.com

Package: eos-photos
Architecture: all
XCBS-EOS-MinOsVersion: 2.4.0
XCBS-EOS-AppId: com.endlessm.photos
XCBS-EOS-AppName: Photos
Replaces: endlessos-base-photos
Breaks: endlessos-base-photos
Depends: gir1.2-gtkclutter-1.0,
         gir1.2-clutter-1.0,
         gir1.2-endless-0,
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0 (>= 3.20),
         gir1.2-gdkpixbuf-2.0,
         python-gi,
         python-imaging-eos-photos,
         python (>= 2.7),
         python-scipy-eos-photos,
         python-skimage-eos-photos (>=0.6.1)
Description: Endless OS Photos
 This is a photos application for Endless OS
