[Desktop Entry]
Categories=Utility;
Comment=Easily edit and share all of your favorite photos
Comment[ar]=حرر وشارك بسهولة كل صورك المفضلة
Comment[bn]=আপনার সকল প্রিয় ফটোগুলো সহজে সম্পাদনা করে ভাগ করে নিন
Comment[es]=Edita y comparte tus fotos favoritas fácilmente
Comment[fr]=Éditez et partagez facilement toutes vos photos favorites
Comment[hi]=अपने सभी पसंदीदा फ़ोटोज को एडिट करें और शेयर करें 
Comment[id]=Mengedit dan membagikan semua foto favorit Anda secara mudah
Comment[pt_BR]=Edite as suas fotografias e crie belas imagens para compartilhar com todos os seus amigos
Comment[ro]=Editeaza usor si impartaseste pozele tale favorite
Comment[th]=แต่งรูปและแบ่งปันรูปที่คุณชอบทั้งหมดอย่างง่าย ๆ
Comment[vi]=Dễ dàng chỉnh sửa và chia sẻ tất cả những tấm ảnh ưa thích của bạn
Comment[zh_CN]=便捷地编辑和分享您喜欢的照片
Comment[zh_TW]=輕鬆編輯並分享所有喜愛的相片
DBusActivatable=true
Exec=eos-photos %f
Icon=com.endlessm.photos
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
Name=Photo Editor
Name[ar]=محرر الصور
Name[bn]=ফটো সম্পাদনা
Name[de]=Foto-Editor
Name[es]=Editor de fotos
Name[fr]=Éditeur Photo
Name[hi]=फ़ोटो एडिटर
Name[id]=Editor Foto
Name[pt_BR]=Editor de Fotos
Name[ro]=Editor poze
Name[th]=การแก้ไขภาพ
Name[vi]=Trình biên tập ảnh
Name[zh_CN]=照片编辑器
Name[zh_TW]=相片編輯工具
StartupNotify=true
Type=Application
Version=1.0
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.photos.jpg
