#photo-image {
    border-style: solid;
    border-width: 7px;
    border-color: white;
}

#save-button,
#share-button,
#close-button,
#minimize-button {
    -GtkWidget-focus-line-width: 0;
    background-color: transparent;
    background-image: none;
    border-width: 0;
}

#open-button {
    -GtkWidget-focus-line-width: 0;
    border-width: 0;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (#404040, 0.9)),
                                     to (shade (#202020, 0.95)));
}

#open-button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (#3a3a3a, 0.9)),
                                     to (shade (#181818, 0.95)));
}

#open-button:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (#141615, 0.9)),
                                     to (shade (#323131, 0.95)));
}

#filters-scroll-area > GtkViewport {
    background-color: transparent;
}

.scrollbar {
    -GtkRange-slider-width: 5;
    -GtkRange-trough-border: 0;
}

.scrollbar.trough{
    border-width: 0px;
    background-color: transparent;
    background-image: none;
}

.scrollbar.slider{
    border-width: 0px;
    background-image: none;
    background-color: #3a3838;
    -unico-inner-stroke-width: 0px;
    -unico-centroid-texture: none;
}

.scrollbar.slider:hover{
    background-color: #515050;
}


/*This changes the scrollbar look, but not how we want. Punting on this for now*/
/*
.slider{
    background-image: url("../images/scroll-bar_normal.png");
}

.scrollbar.trough{
    background-image: url("../images/scroll-bar_normal.png");
}
*/

/*These are the scrollbar colors we want*/
/*
GtkScrollbar {
    background-color: #3a3838;
}

GtkScrollbar:hover {
    background-color: #515050;
}
*/

PhotosWindow {
    background-size: cover;
    background-image: url("../images/Background_Texture-Light.jpg");
}

.primary-toolbar {
    background-image: -gtk-gradient(linear, center top, center bottom,
        from(#343434), to(#262624));
}

GtkButton {
    -unico-focus-fill-color: transparent;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

GtkOverlay {
    background-color: transparent;
}

/*
GtkButton {
    color: green;
}

GtkButton:hover {
    color: blue;
}

GtkButton:active {
    color: red;
}
*/
