* {
    /*defaults*/
    -GtkWidget-focus-line-width: 0px;
    -GtkExpander-expander-size: 0px;
    -GtkExpander-focus-line-width: 0px;
    -GtkExpander-expander-spacing: 0px;
    -GtkExpander-focus-padding: 0px;
    font-family: Lato;
    font-weight: bold;
}

*:insensitive {
    background-color: transparent;
    text-shadow: none;
}

/* TODO: hack fix until we move from adwaita to our proper SDK theme*/
.top-bar * {
  -GtkWidget-focus-padding: 0;
}

.top-bar {
    background-image: -gtk-gradient(linear, center top, center bottom,
        from(#464646), to(#1e1e1e));
}

.top-bar:backdrop {
    background-image: -gtk-gradient(linear, center top, center bottom,
        from(#282828), to(#1e1e1e));
}

.top-bar .button {
    border-radius: 2px;
    color: #8c8c8c;
    icon-shadow: 0px -1px alpha(black, 0.25);
    transition:background-image 0s;
}

.top-bar .button:backdrop {
    color: #646464;
}

.top-bar .button:hover {
    color: #dcdcdc;
    icon-shadow: 0px -1px alpha(black, 0.35);
    background-image: -gtk-gradient(linear, left bottom, left top,
        color-stop(0.98, rgb(131, 131, 131)),
        color-stop(0.95, rgb(108, 108, 108)),
        color-stop(0, rgb(68, 68, 68)));
}

.top-bar .button:active {
    color: #787878;
    icon-shadow: none;
    background-image: -gtk-gradient(linear, left bottom, left top,
        color-stop(0.98, rgb(79, 79, 79)),
        color-stop(0.95, rgb(71, 71, 71)),
        color-stop(0, rgb(67, 67, 67)));
}
/* End hackery!! */

GtkButton {
    transition:background-image 200ms ease-in-out;
}

GtkLabel {
    transition:color 200ms ease-in-out;
}

.arrow-frame,
.image-frame {
    border-width: 0px;
    background-size: 100% 100%;
    transition:background-image 200ms ease-in-out;
}

/*TODO: font sized are in pixels! Do this a better way when we have our fonts nailed down.*/
#splash-label {
    font-family: Lato Light;
    font-weight: normal;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.25);
    font-size: 48px;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 0px 20px 0px;
}

#fullscreen-back {
    background-color: black;
}

.option-button {
    transition:background-color 200ms ease-in-out;
    background-color: transparent;
    background-image: none;
    border-width: 0px;
    border-image: none;
    border-radius: 2px;
}

.option-button:hover {
    background-color: rgba(122, 122, 122, 0.15);
}

.option-button:selected {
    background-color: white;
}

.slider-label,
.option-label {
    text-shadow: none;
    font-size: 11px;
    color: #7e7e7e;
    padding: 3px 0px 0px 0px;
}

.slider-label,
.option-label:selected {
    background-color: transparent;
}

.category-expander .arrow-frame:hover {
    background-image: url("../images/icon_arrow-down.png");
}

.category-expander .arrow-frame:active {
    background-image: url("../images/icon_arrow-up.png");
}

.category-label {
    font-size: 12px;
    text-shadow: none;
    color: #999999;
}

.category-label:hover,
.category-label:active {
    color: #ffffff;
}

#transform-expander .image-frame {
    background-image: url("../images/icon_transformation_normal.png");
}

#transform-expander .image-frame:hover,
#transform-expander .image-frame:active {
    background-image: url("../images/icon_transformation_hover.png");
}

#blur-expander .image-frame {
    background-image: url("../images/icon_blur_normal.png");
}

#blur-expander .image-frame:hover,
#blur-expander .image-frame:active {
    background-image: url("../images/icon_blur_hover.png");
}

#border-expander .image-frame {
    background-image: url("../images/icon_border_normal.png");
}

#border-expander .image-frame:hover,
#border-expander .image-frame:active {
    background-image: url("../images/icon_border_hover.png");
}

#filter-expander .image-frame {
    background-image: url("../images/icon_effects_normal.png");
}

#filter-expander .image-frame:hover,
#filter-expander .image-frame:active {
    background-image: url("../images/icon_effects_hover.png");
}

#distort-expander .image-frame {
    background-image: url("../images/icon_deform_normal.png");
}

#distort-expander .image-frame:hover,
#distort-expander .image-frame:active {
    background-image: url("../images/icon_deform_hover.png");
}

#adjustment-expander .image-frame {
    background-image: url("../images/icon_adjustments_normal.png");
}

#adjustment-expander .image-frame:hover,
#adjustment-expander .image-frame:active {
    background-image: url("../images/icon_adjustments_hover.png");
}

#save-button,
#wallpaper-button,
#share-button {
    background-color: transparent;
    background-image: none;
    border-width: 0px;
    border-image: none;
}

#save-button GtkLabel,
#wallpaper-button GtkLabel,
#share-button GtkLabel {
    font-size: 11px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    color: #555555;
}

#save-button GtkLabel:hover,
#wallpaper-button GtkLabel:hover,
#share-button GtkLabel:hover {
    color: #a1a1a1;
}

#save-button GtkLabel:active,
#wallpaper-button GtkLabel:active,
#share-button GtkLabel:active {
    color: #555555;
}

#crop-button,
#apply-button,
#cancel-button {
    background-color: transparent;
    background-image: none;
    border-image: none;
}

#crop-button:hover {
    background-color: alpha(#000000, 0.1);
}

#crop-button:hover {
    background-color: alpha(#000000, 0.3);
}

#crop-options {
    border-radius: 5px;
    box-shadow: 0px 0px 1px alpha(#000000, 0.5) inset;
    border-width: 0px;
    border-image: none;
}

#crop-options GtkLabel {
    font-size: 10px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.8);
    color: #999999;
}

#crop-options.inactive {
    background-color: transparent;
    background-image: none;
}

#crop-options.active {
    background-color: alpha(#000000, 0.1);
    background-image: none;
}

#crop-label {
    color: green;
    padding: 0px 0px 0px 15px;
}

#crop-button GtkLabel {
    font-size: 12px;
}

#rotate-button GtkLabel {
    margin: 10px 3px 8px 0px;
    font-size: 11px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.8);
    color: #c4c4c4;
}

#rotate-button GtkLabel:hover {
    color: #ffffff;
}

#rotate-button {
    border-radius: 5px;
    background-color: transparent;
    background-image: none;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.35) inset;
    border-width: 1px;
    border-image: none;
}

#rotate-button:hover,
#rotate-button:active{
    background-image: linear-gradient(to bottom,
        rgba(25, 25, 25, 0) 0%,
        rgba(25, 25, 25, 0.5) 99%,
        rgba(25, 25, 25, 0.5) 100%);
}

#rotate-button .image-frame {
    background-image: url("../images/icon_rotate_normal.png");
}
#rotate-button .image-frame:hover {
    background-image: url("../images/icon_rotate_hover.png");
}
#rotate-button .image-frame:active {
    background-image: url("../images/icon_rotate_hover.png");
}

#wallpaper-button .image-frame {
    background-image: url("../images/expand-image_normal.png");
}

#wallpaper-button .image-frame:hover {
    background-image: url("../images/expand-image_hover.png");
}

#wallpaper-button .image-frame:active {
    background-image: url("../images/expand-image_down.png");
}

#save-button .image-frame {
    background-image: url("../images/save_normal.png");
}

#save-button .image-frame:hover {
    background-image: url("../images/save_hover.png");
}

#save-button .image-frame:active {
    background-image: url("../images/save_down.png");
}

#share-button .image-frame {
    background-image: url("../images/facebook_normal.png");
}

#share-button .image-frame:hover {
    background-image: url("../images/facebook_hover.png");
}

#share-button .image-frame:active {
    background-image: url("../images/facebook_down.png");
}

#splash-open-photos-button {
    transition:background-image 200ms ease-in-out;
    -GtkWidget-focus-line-width: 0px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     color-stop(0.0, #A6AC00),
                                     color-stop(1.0, #A6AC00));
    padding: 0px 9px 0px 9px;
    border-width: 0px;
    border-image: none;
    box-shadow: none;
}

#splash-open-photos-button GtkLabel {
    font-family: Lato Light;
    font-weight: normal;
    font-size: 17px;
    padding-left: 3px;
    color: #FFFFFF;
    padding: 4px 4px 4px 4px;
}

#splash-open-photos-button GtkLabel:hover {
    color: #FFFFFF;
}

#splash-open-photos-button GtkLabel:active {
    text-shadow: none;
}

#splash-open-photos-button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     color-stop(0.0, #B5BC08),
                                     color-stop(1.0, #A6AC00));
}

#splash-open-photos-button:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#898E07),
                                     to (#AAAF03));
}

#splash-open-photos-button .image-frame {
    background-image: url("../images/icon_topbar_OpenPhoto_hover.png");
}

#revert-button {
    transition:background-image 200ms ease-in-out;
    padding: 8px 0px 8px 0px;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    border-width: 0px;
    border-image: none;
    box-shadow: none;
    background-size: 100% 100%;
}

#open-photos-button {
    padding: 3px 0px 3px 3px;
}

#open-photos-button GtkLabel {
    font-size: 10px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    color: #999999;
    padding: 0px 3px 0px 8px;
}

#revert-button GtkLabel {
    font-size: 11px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
    color: #999999;
}

#revert-button GtkLabel:hover,
#open-photos-button GtkLabel:hover {
    color: #ffffff;
}

#revert-button GtkLabel:active,
#open-photos-button GtkLabel:active {
    color: #999999;
}

#revert-button:hover {
    background-image: url("../images/restore-photo_bg_hover.png");
}

#revert-button:active {
    background-image: url("../images/restore-photo_bg_down.png");
}

#revert-button GtkLabel {
    padding: 0px 3px 0px 3px;
}

#revert-button .image-frame {
    background-image: url("../images/icon_restore-photo_normal.png");
}

#revert-button .image-frame:hover {
    background-image: url("../images/icon_restore-photo_hover.png");
}

#revert-button .image-frame:active {
    background-image: url("../images/icon_restore-photo_normal.png");
}

#open-photos-button .image-frame {
    background-image: url("../images/icon_topbar_OpenPhoto_normal.png");
}

#open-photos-button .image-frame:hover {
    background-image: url("../images/icon_topbar_OpenPhoto_hover.png");
}

#open-photos-button .image-frame:active {
    background-image: url("../images/icon_topbar_OpenPhoto_normal.png");
}

/*.filters-scroll-area {
    background-image: -gtk-gradient (linear, left top, right top,
                                     color-stop(0.0, alpha(#ffffff, 0.04)),
                                     color-stop(0.8, alpha(#ffffff, 0.02)),
                                     color-stop(1.0, alpha(#ffffff, 0.0)));
}*/

.filters-scroll-area > GtkViewport {
    background-color: transparent;
}

.filters-scroll-area > .scrollbar {
    -GtkRange-slider-width: 8;
    -GtkRange-trough-border: 0;
}

.filters-scroll-area > .scrollbar.trough {
    border-width: 0px;
    background-color: transparent;
    background-image: none;
}

.filters-scroll-area > .scrollbar.slider {
    /* this transition doesn't seem to work */
    transition:background-color 200ms ease-in-out;
    border-width: 0px;
    background-image: none;
    background-color: #3f3f3f;
}

.filters-scroll-area > .scrollbar.slider:hover {
    background-color: #5c5c5c;
}

#image-container{
    border-width: 0px;
}

/* Scale themeing */
GtkScale {
    -GtkRange-slider-width: 18px;
    -GtkRange-trough-border: 2px;
    -GtkScale-slider-length: 18px;
}

.scale.slider {
    /* this transition doesn't seem to work */
    transition:background-image 200ms ease-in-out;
    background-image: url("../images/slider_knob_normal.png");
}

.scale.slider:hover {
    background-image: url("../images/slider_knob_hover.png");
}

.scale.highlight.left{
    background-image: none;
    background-color: black;
    border-width: 0px;
}

.scale.trough{
    background-image: none;
    background-color: black;
    border-width: 0px;
    box-shadow: inset 0 -1px alpha(#ffffff, 0.25);
}
