* {
    /*defaults*/
    engine: unico;
    -GtkWidget-focus-line-width: 0px;
    -GtkExpander-expander-size: 0px;
    -GtkExpander-focus-line-width: 0px;
    -GtkExpander-expander-spacing: 0px;
    -GtkExpander-focus-padding: 0px;
}

:insensitive {
    text-shadow: none;
}

GtkExpander:hover {
    background-color: transparent;
}

GtkExpander {
    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: none;
    -unico-focus-fill-color: transparent;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
    border-width: 0;
    padding: 0;
    margin: 0;
}

GtkButton {
    -unico-glow-radius: 0;
    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: none;
    -unico-focus-fill-color: transparent;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

GtkOverlay {
    background-color: transparent;
}

#splash-label {
    font-family: Ubuntu;
    font-style: normal;
    font-size: 46;
    color: rgba(255, 255, 255, 0.6);
}

/* TODO: Fix the hardcoded path. */
#splash-eventbox {
    background-image: url("../images/background_splash.jpg");
}

#fullscreen-back {
    background-color: black;
}

#filter-button {
    -GtkButton-child-displacement-x: 0;
    -GtkButton-child-displacement-y: 0;
    background-color: transparent;
    background-image: none;
    border-width: 0;
}

#filter-button:hover {
    background-color: rgba(122, 122, 122, 0.15);
}

#filter-button:selected {
    background-color: white;
}

#filter-label {
    font-family: Ubuntu;
    text-shadow: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12;
    color: #7e7e7e;
}

#category-label {
    font-family: Ubuntu;
    text-shadow: none;
    font-style: normal;
    font-weight: bold;
    font-size: 13;
    color: #999999;
}

#category-label:hover {
    color: #ffffff;
}

#save-button GtkLabel,
#share-button GtkLabel,
#email-button GtkLabel {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12;
    text-shadow: 0 1 rgba(0,0,0,0.75);
    color: #464646;
}

#save-button GtkLabel:hover,
#share-button GtkLabel:hover,
#email-button GtkLabel:hover {
    color: #a1a1a1;
}

#save-button GtkLabel:active,
#share-button GtkLabel:active,
#email-button GtkLabel:active {
    color: #464646;
}

#save-button,
#share-button,
#email-button,
#close-button,
#minimize-button {
    background-color: transparent;
    background-image: none;
    border-width: 0;
}

#splash-open-photos-button {
    -GtkWidget-focus-line-width: 0;
    border-width: 0px;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     color-stop(0.0, #A6AC00),
                                     color-stop(1.0, #A6AC00));
    padding: 5px 9px 5px 9px;
}

#splash-open-photos-button GtkLabel {
    font-family: Ubuntu;
    font-style: normal;
    font-size: 12;
    padding-left: 3px;
    color: #FFFFFF;
}

#splash-open-photos-button GtkLabel:hover {
    color: #FFFFFF;
}

#splash-open-photos-button:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     color-stop(0.0, #B5BC08),
                                     color-stop(1.0, #A6AC00));
}

#splash-open-photos-button:active {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#898E07),
                                     to (#AAAF03));
}

#revert-button,
#open-photos-button {
    padding: 8px 0px 8px 0px;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    border-width: 0;
}

#revert-button GtkLabel,
#open-photos-button GtkLabel {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 10;
    text-shadow: 0 -1 rgba(0,0,0,0.75);
    color: #999999;
}

#revert-button GtkLabel:hover,
#open-photos-button GtkLabel:hover {
    color: #ffffff;
}

#revert-button GtkLabel:active,
#open-photos-button GtkLabel:active {
    color: #999999;
}

#revert-button GtkImage {
    padding: 0px 3px 0px 5px;
}

#revert-button:hover {
    background-image: url("../images/restore-photo_bg_hover.png");
}

#revert-button:active {
    background-image: url("../images/restore-photo_bg_down.png");
}

#revert-button GtkLabel {
    padding: 0px 3px 0px 0px;
}

#open-photos-button GtkImage {
    padding: 0px 5px 0px 9px;
}

#open-photos-button:hover {
    background-image: url("../images/topbar_OpenPhoto_hover_bg.png");
}

#open-photos-button:active {
    background-image: url("../images/topbar_OpenPhoto_down_bg.png");
}

#open-photos-button GtkLabel {
    padding: 0px 10px 0px 0px;
}

#filters-scroll-area > GtkViewport {
    background-color: transparent;
}

#filters-scroll-area > .scrollbar {
    -GtkRange-slider-width: 8;
    -GtkRange-trough-border: 0;
}

#filters-scroll-area > .scrollbar.trough{
    border-width: 0px;
    background-color: transparent;
    background-image: none;
}

#filters-scroll-area > .scrollbar.slider{
    border-width: 0px;
    background-image: none;
    background-color: #3f3f3f;
    -unico-inner-stroke-width: 0px;
    -unico-centroid-texture: none;
}

#filters-scroll-area > .scrollbar.slider:hover{
    background-color: #5c5c5c;
}

#image-container{
    border-color: white;
    border-style: solid;
    border-radius: 0;
    border-width: 0px;
    -unico-border-gradient: none;
}

.primary-toolbar {
    background-image: -gtk-gradient(linear, center top, center bottom,
        color-stop(0, #363636), color-stop(0.6, #323232), color-stop(0.8, #222222), color-stop(1, #0c0c0c));
}

GtkScale {
    -GtkRange-slider-width: 18;
    -GtkRange-trough-border: 0;
    -GtkScale-slider-length: 18;
    -unico-focus-fill-color: transparent;
}

.scale.slider {
    background-image: url("../images/slider_knob_normal.png");
}

.scale.slider:hover {
    background-image: url("../images/slider_knob_hover.png");
}

.scale.highlight.left{
    background-image: none;
    background-color: black;
    border-width: 0px;

    -unico-inner-stroke-width: 0px;
}


.scale.trough{
    background-image: none;
    background-color: black;
    border-width: 0px;

}


