* {
    /*defaults*/
    engine: unico;
    -GtkWidget-focus-line-width: 0px;
    -GtkExpander-expander-size: 0px;
    -GtkExpander-focus-line-width: 0px;
    -GtkExpander-expander-spacing: 0px;
    -GtkExpander-focus-padding: 0px;
}

GtkExpander:hover {
    background-color: transparent;
}

GtkExpander {
    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: none;
    -unico-focus-fill-color: transparent;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
    border-width: 0;
    padding: 0;
    margin: 0;
}

GtkButton {
    -unico-glow-radius: 0;
    -unico-border-gradient: none;
    -unico-inner-stroke-gradient: none;
    -unico-focus-fill-color: transparent;
    -unico-inner-stroke-width: 0;
    -unico-outer-stroke-width: 0;
}

GtkOverlay {
    background-color: transparent;
}

#fullscreen-back {
    background-color: black;
}

#filter-event-box {
    background-color: transparent;
}

#filter-image {
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}

#filter-image:hover {
    border-color: #404040;
}

#filter-image:selected {
    border-color: white;
}

#filter-label {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12;
    color: #7e7e7e;
}

#filter-label:selected {
    color: #ffffff;
}

#filters-title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 13;
    color: #ffffff;
}


#save-button GtkLabel,
#share-button GtkLabel,
#email-button GtkLabel {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12;
    text-shadow: 0 1 rgba(0,0,0,0.75);
    color: #464646;
}

#save-button GtkLabel:hover,
#share-button GtkLabel:hover,
#email-button GtkLabel:hover {
    color: #a1a1a1;
}

#save-button GtkLabel:active,
#share-button GtkLabel:active,
#email-button GtkLabel:active {
    color: #464646;
}

#save-button,
#share-button,
#email-button,
#close-button,
#minimize-button {
    background-color: transparent;
    background-image: none;
    border-width: 0;
}

#open-photos-button {
    border-width: 1px;
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                     from (#5c5c5c),
                                     to (rgba(1,2,2,0.34)));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     color-stop(0.0, #484848),
                                     color-stop(1.0, #303030));
}

#open-photos-button GtkLabel {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12;
    text-shadow: 0 -1 rgba(0,0,0,0.75);
    color: #787878;
}

#open-photos-button GtkLabel:hover {
    color: #888888;
}

#open-photos-button:hover {
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                     from (#676767),
                                     to (rgba(1,2,2,0.4)));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     color-stop(0.0, #565656),
                                     color-stop(1.0, #343434));
}

#open-photos-button:active {
    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                     from (#191919),
                                     to (#282828));
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (#1a1a1a),
                                     to (#292929));
}

#filters-scroll-area > GtkViewport {
    background-color: transparent;
}

#filters-scroll-area > .scrollbar {
    -GtkRange-slider-width: 8;
    -GtkRange-trough-border: 0;
}

#filters-scroll-area > .scrollbar.trough{
    border-width: 0px;
    background-color: transparent;
    background-image: none;
}

#filters-scroll-area > .scrollbar.slider{
    border-width: 0px;
    background-image: none;
    background-color: #3f3f3f;
    -unico-inner-stroke-width: 0px;
    -unico-centroid-texture: none;
}

#filters-scroll-area > .scrollbar.slider:hover{
    background-color: #5c5c5c;
}

#image-container{
    border-color:white;
    border-style: solid;
    border-radius: 0;
    border-width: 7px;
    -unico-border-gradient: none;
}

.primary-toolbar {
    background-image: -gtk-gradient(linear, center top, center bottom,
        color-stop(0, #363636), color-stop(0.6, #323232), color-stop(0.8, #222222), color-stop(1, #0c0c0c));
}
