[Desktop Entry]
Version=1.0
Type=Application
Name=Photos
GenericName=Photos
Name[es]=Fotos
Name[pt]=Fotos
Comment=Photos
TryExec=endless-os-photos
Exec=endless-os-photos %f
Icon=photo
Categories=Photos